:root {
  --primary-color: #000000;
  --secondary-color: #00439c;
  --tertiary-color: #ffffff;
  --quaternary-color: #cd3d0f;
  --quinary-color: #2d64e6;
  --senary-color: #99aab5;
}

#root { 
  height: 100vh;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--senary-color);
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: var(--primary-color);
}

.logo {
  height: 64px
}

.project {
  height: 200px;
  width: 300px
}

.bodyDiv {
  height: 100vh;
}

footer {
  flex-shrink: 0;
}